Api/node_modules
console_app/premiumMembership/.vs
console_app/premiumMembership/premiumMembership/bin
console_app/premiumMembership/premiumMembership/obj
mauidolgozat/.vs
mauidolgozat/mauidolgozat/bin
mauidolgozat/mauidolgozat/obj
